.Home {
  margin-top: 200px;
  margin-left: 220px;
}

.genes{
  border: 1px solid white;
  width: 80%;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  background-color: #730c1c;
  color: white;
}

.genes:hover{
  border-color: #730c1c;
  background-color: white;
  color: black;
  transition: 0.3s;
}