.variant_container {
    margin-top: 50px;
    margin-left: 500px;
    border: 1px solid black;
    width: 220px;
    padding-left: 30px;
}

.variant_input {
    margin-left: 550px;
    margin-top: 10px
}

.input-button{
    background-color: #730c1c;
    border-color: #730c1c;
    color: white;
}